django<2.0; python_version < '3.0'
django>=2.1; python_version >= '3.0'
cython>=0.25.2
django-celery-results
fake-useragent>=0.1.7
fuzzywuzzy>=0.15.0
numpy<1.17.0; python_version < '3.0'
numpy>=1.16.0; python_version >= '3.0'
pandas<0.25.0; python_version < '3.0'
pandas>=0.25.0; python_version >= '3.0'
scipy<1.3.0; python_version < '3.0'
scipy>=1.5.0; python_version >= '3.0'
python-dateutil>=2.6.0
python-levenshtein>=0.12.0
pytz>=2016.10
requests>=2.13.0
scandir>=1.5
simplejson>=3.10.0
stopit>=1.1.1
tld>=0.7.9
tqdm>=4.11.2
unidecode>=0.4.20
git+ssh://labsdeploy/pewresearch/pewtils#egg=pewtils
git+ssh://labsdeploy/pewresearch/pewtils#egg=pewanalytics
